
config/config\.ini
venv/

config/config\.json

fruitTycoon/__pycache__/

\.venv/

\.vscode/

5428330826677ebbbbeadd682091e132-92fb0482a6e6e45e344b90f3cb994e1bf56cd629/

Fruit Tycoon\.docx

~\$uit Tycoon\.docx

data/player_data/

data/index\.json
